In [24]:
from mysql.connector import connect, errorcode, Error
from os import environ
import pandas as pd

In [85]:
config = {
    "user" : environ['DATABASE_USERNAME'],
    "password" : environ['DATABASE_PASSWORD'],
    "host" : environ['DATABASE_HOST'],
    "database" : environ['DATABASE_NAME'],
    "charset": 'utf8'
}

In [66]:
def get_connection():
    try:
        return connect(**config)
    except Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(err)
        return None

In [67]:
def get_data(connection:connect, query:str):
    my_cursor = connection.cursor()
    my_cursor.execute(query)
    data = []
    for row in my_cursor:
        data.append(row)
    my_cursor.close()
    return data

In [116]:
cnx = get_connection()

In [117]:
data =  get_data(cnx, "SELECT * FROM UN.TEST")

In [118]:
df = pd.DataFrame(data, columns=["ID", "TEXT_NOTE", "SERIAL_CREDENTIAL", "PRICE", "GRADE", "STATUS", "CURRENT_DATE_VALUE"])

In [121]:
df.to_parquet('mydata.parquet')

In [123]:
cnx.close()

In [122]:
pd.read_parquet('mydata.parquet')

,ID,TEXT_NOTE,SERIAL_CREDENTIAL,PRICE,GRADE,STATUS,CURRENT_DATE_VALUE
0,1,KJLKSDJFLKSD JFJKLSDJFLSDJF LKSDJF LKSDJ FLKSD...,27c4f31ae74bb05deb2a26b9183315c0608b516e610d59...,2.424,None,1,2025-05-12 21:25:26

In [124]:
!pip freeze > requirements.txt