In [ ]:
from mysql.connector import connect, errorcode, Error
from os import environ
import time
import pandas as pd
from dotenv import load_dotenv
load_dotenv()

True

In [ ]:
config = {
    "user": environ['DATABASE_USERNAME'],
    "password": environ['DATABASE_PASSWORD'],
    "host": environ['DATABASE_HOST'],
    "database": environ['DATABASE_NAME'],
    "charset": 'utf8'
}
export_times = {}

{'user': 'ed2studentsG6', 'password': 'd8d0274ccb39fcded4a5fac1961580104770fa93620f4a699cccecae58e8efe5', 'host': 'lab-ed.c9q48as80ych.us-east-1.rds.amazonaws.com', 'database': 'UN', 'charset': 'utf8'}

In [3]:
def get_connection():
    try:
        print("Connecting to the database...\n config: ", config)
        return connect(**config)
    except Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(err)
        return None

In [4]:
def get_data(connection: connect, query: str):
    my_cursor = connection.cursor()
    my_cursor.execute(query)
    data = my_cursor.fetchall()
    my_cursor.close()
    return data

In [ ]:

cnx = get_connection()

print("Connection established")

for i in range(1, 1000000):
    data = get_data(cnx, f"SELECT * FROM UN.VENTAS LIMIT {i}")
    df = pd.DataFrame(data, columns=['ID_VENTA', 'FECHA_VENTA', 'ID_CLIENTE', 'ID_EMPLEADO',
              'ID_PRODUCTO', 'CANTIDAD', 'PRECIO_UNITARIO', 'DESCUENTO', 'FORMA_PAGO'])
    start = time.time()
    df.to_json("ventas.json", orient="records", lines=True)
    export_times["JSON"] = time.time() - start
    
    
df = pd.DataFrame(data, columns=['ID_VENTA', 'FECHA_VENTA', 'ID_CLIENTE', 'ID_EMPLEADO',
              'ID_PRODUCTO', 'CANTIDAD', 'PRECIO_UNITARIO', 'DESCUENTO', 'FORMA_PAGO'])
    



df = pd.DataFrame(data, columns=['ID_VENTA', 'FECHA_VENTA', 'ID_CLIENTE', 'ID_EMPLEADO',
                  'ID_PRODUCTO', 'CANTIDAD', 'PRECIO_UNITARIO', 'DESCUENTO', 'FORMA_PAGO'])

cnx.close()

df

In [ ]:
#Obtener datos en distintos formatos 

#Formato Json
start = time.time()
df.to_json("ventas.json", orient="records", lines=True)
export_times["JSON"] = time.time() - start

#Formato CSV
start = time.time()
df.to_csv("ventas.csv", index=False)
export_times["CSV"] = time.time() - start

In [10]:
#Pruebas
i = 1
print("SELECT * FROM UN.VENTAS LIMIT "+str(i))

SELECT * FROM UN.VENTAS LIMIT 1